@media screen and (max-width: 1000px) {
    .portfolios {
        grid-template-columns: 1fr 1fr;
            padding-top: 4.5rem;
    }
}


@media screen and (max-width: 600px) {
    header{
        padding: 1rem 0 0 0;
    }
    

    .theme-btn {
        width: 35px;
        height: 30px;
    }

    #box1 {
        left: 8%;
    }

    #box1 p{
        font-size: 4vw;
    }

    #box2 {
        left: 22%;
    }

    #box2 p{
        font-size: 4vw;
    }

    #box3 {
        font-size: 3.5vw;
        padding-right: 10px;
    }

    .about-container {
        grid-template-columns: 1fr;
        .right-about {
            grid-template-columns: 1fr;
            padding-top: 2.5rem;

        }
    }

    .portfolios {
        grid-template-columns: 1fr;
        padding: 4.5rem 0 0 0;
        margin: 0;
    }

    .contact-content-con {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }

    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }

    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    img {
        filter: none !important;
    }

    .main-title {
        h2 {
            font-size: 2.75rem;
            span {
                font-size: 2.75rem;
            }
            
        }
    }

    .section {
        padding: 1.5rem 1rem;
    }


    .controlls {
        top: auto;
        padding-bottom: 15px;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: transparent;
        .control {
            margin: 0 1rem;
        }
    }


}
